.heading h1 {
  text-align: center;
  color: #9b6a5b;
  font-family: 'kish';
  padding: 20px;
  font-size: 50px;
  font-weight: bold

}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #f8edeb;
  margin: 0;
  min-height: 100vh
}

.appheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  min-height: 100vh;
  color: #9b6a5b
}

.book {
  background-color: rgba(255, 255, 255, 0.67);
  border: 6px solid #a79283;
  border-radius: 6px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
}

.book h2 {
  font-size: 45px;
  font-family: 'kish';
  text-align: center;
  margin-bottom: 10px;
  color: #9b6a5b
}

input, select{
  background-color: white;
  padding: 7px;
  margin: 8px;
  font-size: 18px;
  font-family: 'kish';
  color: #a79283;
  width: 100%;
  box-sizing: border-box;
}

.book button {
  background-color: #f8edeb;
  padding: 12px 20px;
  color: #9b6a5b;
  border: 4px solid #a79283;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'kish';
  margin-top: 10px;
  width: fit-content

}

.booklog h2{
  text-align: center;
  width: 100%;
  font-family: 'kish';
  font-size: 45px;
  color: #9b6a5b;
  margin-bottom: 0px;
  margin-top: 25px
}

.booklog {
  width: 90%;
  max-width: 800px;
}

.btable {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.67);
  border: 6px solid #a79283;
  border-radius: 6px;
  color:#9b6a5b;
  font-family: 'kish';
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto
}

.btable th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #a79283;
  border-right: 1px solid #a79283;
  font-weight: bold;
  color: #9b6a5b;
}

.btable td {
  padding: 12px;
  text-align: left;
  border-right: 1px solid #a79283;
  border-bottom: 1px solid #a79283;
}

.popupoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000;           
}

.popupcontent {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  color: #333;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.popupbutton {
  background-color: #f8edeb;
  padding: 8px 20px;
  color: #9b6a5b;
  border: 4px solid #a79283;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'kish';
  margin: 10px;
  width: fit-content;
}
